.hg*
.project
gb.xcodeproj
build
gb/gb
_go_.6
_test
_testmain
_bin
gb/push
gb/add
gb/commit
gb/tag
gb/_dist_
_obj
_cgo
*.cgo1.go
*.cgo2.c
example/a/Makefile
example/a/b/Makefile
example/c/Makefile
example/d/Makefile
example/e/Makefile
example/build
*.sublime-project


example
*.6
